
<div class="container">
  <div class="cv">
    <div class="block">
      <div class="block-1">
        <div class="block-1-1">
          <div class="desc center text-center">
            <p>
               Ngo Thi Dang Thuong<br/><a href="tel:0965414424" title="Phone: 0965 414 424">0965 414 424</a><br/><a href="mailto:ntdangthuong@gmail.com" title="Email: ntdangthuong@gmail.com">ntdangthuong@gmail.com</a><br/>Thu Duc district, HCMC<br/><a href="https://github.com/ntdthuong" title="GitHub">
                 GitHub </a></p>
          </div>
        </div>
        <div class="title">Languages</div>
        <div class="desc center">
          <p>Vietnamese</p>
          <p>English </p>
        </div>
      </div>
    </div>
    <div class="block">
      <div class="block-2 transparent">
        <div class="circle" style="background-image: url(../images/img-cv.jpg)"></div>
        <div class="block-2-1"> 
          <div class="desc pd-t4 text-center">
            <h1>&Mu;&Sigma;</h1>
            <p>Front-end Developer  </p>
          </div>
        </div>
      </div>
    </div>
    <div class="block">
      <div class="block-3">
        <div class="title right">Skills</div>
        <div class="desc center">
          <ul>
            <li>PTS/AI
              <ul class="dots">
                <li class="active"></li>
                <li class="active"></li>
                <li class="active"></li>
                <li class="active"></li>
                <li></li>
              </ul>
            </li>
            <li>PUG/SASS
              <ul class="dots">
                <li class="active"></li>
                <li class="active"></li>
                <li class="active"></li>
                <li class="active"></li>
                <li class="active"></li>
              </ul>
            </li>
            <li>JS/JQUERY/AngularJS
              <ul class="dots">
                <li class="active"></li>
                <li class="active"></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </li>
            <li>ReactJS/ReactNative
              <ul class="dots">
                <li class="active"></li>
                <li class="active"></li>
                <li class="active"></li>
                <li></li>
                <li></li>
              </ul>
            </li>
            <li>Tools: grunt, gulp
              <ul class="dots">
                <li class="active"></li>
                <li class="active"></li>
                <li class="active"></li>
                <li></li>
                <li></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="block">
      <div class="block-4">
        <div class="title">Education</div>
        <div class="desc center text-center">
          <p>Web designer at Green Academy<br/>11/2016 - 05/2017</p>
        </div>
      </div>
    </div>
    <div class="block">
      <div class="block-5">
        <div class="title">Projects</div>
        <div class="desc center">
          <ul>
            <li><a href="https://ntdthuong.github.io/" title="My Book Store" target="_blank">- My Book Store</a></li>
            <li><a href="http://styleup.vn/" title="Landing Page Board Game" target="_blank">- Landing Page Board Game</a></li>
            <li><a href="http://wealthdragon.vn/" title="Comestic Blog" target="_blank">- Comestic Blog</a></li>
            <li><a href="https://realworld-thuongntd.herokuapp.com/" title="Real World" target="_blank">- Real World</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="block">
      <div class="block-6">
        <div class="title right">Experience</div>
        <div class="desc center text-center">
          <p>Working at Sutrix Solutions Company<br/>06/2017 - now</p>
        </div>
      </div>
    </div>
  </div>
</div>